.pagination{
    ul{
        list-style: none;
        justify-content: center;
        display: flex;
        margin: 50px 0 100px 0;
        li{
            a{
                text-decoration: none;
                padding: 0px 7.5px 0px 7.5px;
            }
            a:active{
                color: black;
            }
            a:active::after{
                display: block;
                content: '';
                background: #1298D2;
                width: 20px;
                height: 4px;
                position: absolute;
                margin-left: 1px;
            }
        }
    }
}