.section{
    margin: 0 255px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .section{
        width: 90%;
        margin: auto;
    }
}
